body { margin: 0; overflow: hidden; background: #000000; font-family: 'Segoe UI', sans-serif; }
canvas { display: block; }

/* WADAH UI */
#panel-ui {
    position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);
    display: flex; flex-direction: column; align-items: center; gap: 10px;
    background: rgba(0, 0, 0, 0.85); padding: 15px 25px; border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.15); z-index: 100;
    backdrop-filter: blur(10px); width: 90%; max-width: 650px;
}

.baris { display: flex; gap: 8px; align-items: center; justify-content: center; flex-wrap: wrap; width: 100%; }

.tombol {
    background: rgba(255,255,255,0.05); border: 1px solid rgba(255,255,255,0.2);
    color: #ccc; padding: 8px 10px; border-radius: 8px; cursor: pointer;
    font-size: 10px; text-transform: uppercase; transition: 0.2s; white-space: nowrap; flex-grow: 1;
}
.tombol:hover, .tombol.aktif { background: #00ffff; color: black; border-color: #00ffff; box-shadow: 0 0 10px #00ffff; }
.tombol.mic-aktif { background: #ff0055; color: white; border-color: #ff0055; box-shadow: 0 0 10px #ff0055; }

input[type="text"] {
    background: rgba(255,255,255,0.1); border: 1px solid rgba(255,255,255,0.3);
    color: white; padding: 8px; border-radius: 5px; outline: none; width: 80px;
    text-align: center; font-family: monospace;
}

.grup-slider { display: flex; flex-direction: column; align-items: center; min-width: 60px; }
.label { font-size: 8px; color: #888; margin-bottom: 2px; letter-spacing: 1px; }
input[type=range] { -webkit-appearance: none; width: 100%; height: 3px; background: #333; cursor: pointer; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; width: 10px; height: 10px; border-radius: 50%; background: #fff; }
input[type="color"] { border:none; width:25px; height:25px; cursor:pointer; background:none; padding: 0;}

/* PRATINJAU & STATUS */
#wadah-pratinjau {
    position: absolute; top: 20px; right: 20px;
    width: 160px; height: 120px; background: #000;
    border: 1px solid #333; border-radius: 10px; overflow: hidden; z-index: 200;
}
#kanvas_output { width: 100%; height: 100%; } 
#video_input { display: none; }

#instruksi {
    position: absolute; top: 20px; left: 20px; pointer-events: none;
    color: rgba(255,255,255,0.7); font-size: 13px;
    background: rgba(0,0,0,0.6); padding: 15px; border-radius: 8px;
    line-height: 1.6;
}
.sorot { color: #00ffff; font-weight: bold; }

/* KOTAK ERROR */
#kotak-error {
    display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    background: rgba(255,0,0,0.9); color: white; padding: 20px; border-radius: 10px;
    text-align: center; z-index: 999; max-width: 80%;
}